---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC5a3fa406d30625f6a2ade2dd194af087/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&From=19714075375&To=12312232
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM1YTNmYTQwNmQzMDYyNWY2YTJhZGUyZGQxOTRhZjA4NzpkYWVhYmM2YzU5ZDA4OTAwOWUxMmRjNzM4NGI5OWMyMQ==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.074'
      Twilio-Request-Id:
      - RQea7dea18ae2d4564938990394bd920bd
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 12312232 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Mon, 26 Sep 2016 20:44:12 GMT
recorded_with: VCR 3.0.3
